/* TikTok Blocking Styles */

.anti-slop-hidden {
  display: none !important;
}

div[data-anti-slop="feed-blocked"] {
  display: none !important;
}

.anti-slop-tiktok-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
